*{
    margin: 2%;
}
.card-index{
    background: rgb(150, 31, 31);
}
body {
    width: 600px;
    margin: 0 auto;
    background-color: antiquewhite;
    font-family: cursive;
    color: rgb(131, 72, 0);
    padding: 0 20px 20px 20px;
    border: 5px solid rgb(0, 0, 0);
    
  }
.botao{
    
}
h1{
   text-align: center;
   text-decoration: underline;
   text-shadow: 10cm;
}